body{
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 18%;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo{
    font-size: 24px;
}

.header-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

ul {
    list-style-type: none;
  }

.header-nav, .Hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.Hero-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6% 18%;
    margin: 0 0;
    background-color: #1F2937;
    flex-wrap: wrap;
    gap: 16px;
}

.Hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}


.Hero-left{
    flex: 1;
    min-width: 300px;
}

.top-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    padding: 2px 16px;
    border-radius: 5px;
    margin-bottom: 32px;
}

.Hero-right{
    flex: 1;
    min-width: 300px;
}

.Hero-right img{
    max-width: 100%;
    height: auto;
}

.Information{
    display:flex;
    justify-content: center;
    margin: 16px 0;
}

.Info-box{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 0 16%;
    flex-wrap: wrap;

}

.images{
    flex: 1;
    max-width: 200px;

}

.images img{
    width: 200px;
    height: auto;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16%;
    margin: 0;
    background-color: #E5E7EB
}

.quote{
    color: #1F2937;
    font-size: 36px;
    font-family: italic;
    font-weight: lighter;
    width: 800px;
    margin-top: 128px;
}

.credits{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    margin: 0;
    padding: 0 16%;
}

.author{
    margin: 0;
    width: 800px;
    text-align: end;
    font-weight: 900;
}

.Action-section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-height: 300px;
    margin: 64px;
}

.Action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 64px 256px;
    gap: 64px;
    flex-wrap: wrap;
}

.Action-title{
    margin: 0;
}

.Action-left{
    color: #F9FAF8;
    min-width: 300px;
    flex: 3;
}

.Action-right{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    flex: 1;
}


.bottom-signup{
    background-color: #3882F6;
    border-color: white;
    color: white;
    border-radius: 5px;
    border-style: solid;
    padding: 4px 16px;
    margin: 0;
}

.Action-paragraph{
    margin: 0;
}

.Copyright{
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 8px;
}


